*~
*.pyc
pids.txt
tmp
userfiles
.sass-cache
node_modules
htdocs/mathjax
services/
data
run
conf/rcloud.auth
conf/github_info.txt
conf/selected.conf.txt
rcloud.support_*.tar.gz
rcloud.client_*.tar.gz
packages/*.tar.gz
rcloud.packages/*.tar.gz
REVISION
run
packages/src

# Vite build artifacts
htdocs/_build_entry.js
htdocs/_build_entry.js.map
htdocs/css/rcloud.css
htdocs/css/rcloud.css.map
htdocs/css/rcloud-edit.css
htdocs/css/rcloud-edit.css.map
htdocs/css/rcloud-view.css
htdocs/css/rcloud-view.css.map
htdocs/css/rcloud-discover.css
htdocs/css/rcloud-discover.css.map
htdocs/css/rcloud-viewer.css
htdocs/css/rcloud-viewer.css.map
htdocs/js/rcloud_bundle.js
htdocs/js/rcloud_bundle.js.gz
htdocs/js/rcloud_bundle.js.map
htdocs/js/rcloud_bundle.min.js
htdocs/js/rcloud_bundle.min.js.gz
htdocs/js/rcloud_bundle.min.js.map
htdocs/js/merger_bundle.js
htdocs/js/merger_bundle.js.gz
htdocs/js/merger_bundle.js.map
htdocs/js/merger_bundle.min.js
htdocs/js/merger_bundle.min.js.gz
htdocs/js/merger_bundle.min.js.map
htdocs/lib/ace_bundle.js.gz
htdocs/lib/ace_bundle.min.js
htdocs/lib/ace_bundle.min.js.gz
htdocs/lib/ace_bundle.min.js.map
/vendor/dist/cran/*.gz
/vendor/dist/rforge/*.gz
/build/

# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
.deps/
.dirstamp

# http://www.gnu.org/software/autoconf

autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.cache
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

/out/
*.log
**/.zig-cache/
/zig-out/
/zig/LICENSE
/zig/README.md
/zig/doc/
/zig/lib/
/zig/zig
